#input-text1{
    padding:1rem;
    margin: 1rem auto;
    display: block;
}

#input-text2{
    padding:1rem;
    margin: 1rem auto;
    display: block;
}

#btn-output{
    padding:1rem;
    margin: 1rem auto;
    display: block;
}

#output{
    padding:1rem;
    margin: 1rem auto;
    display: block;
    border: 1px solid black;
    height:150px;
    width:50%;
}

.heading{
    padding:1rem;
    margin: 1rem auto;
    display: block;
}

